/* Your styles go here */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .montserrat {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }

:root {
    box-sizing: content-box;
}

*, ::after ::before {
    box-sizing:inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




main {
    margin: 4rem auto;
    width: 90%;
}

.video-container {         
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    flex: 1;
    margin: 1rem auto;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

.info {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
}

.info a {
    text-decoration: none;
    color: rgb(67, 194, 177);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.info a:hover {
    color:rgb(53, 86, 122)
}

.info img {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

.aboutr .imgcontainer {
    width: 100%;
}

.aboutr .portrait {
    width: 80%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    margin: 1rem auto;
    padding: 1rem 0;
}

.aboutr img {
    display: block;
    margin: 1rem auto;
    width: 80%;
}

.contact {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    font-weight: bold;
}

.contact .email {
    flex: 1;
    background-color:rgb(131, 224, 212);
    border-radius: 0 5em;
    text-align: center;
    padding: .5rem;
    margin: 1rem 0;
    line-height: 8rem;
}

.contact .links {
    flex: 1;
    text-align: center;
    line-height: 4rem;
    border: 3px solid rgb(131, 224, 212);
    margin: 1rem;
    border-radius: 5rem 5rem;
}

.contact .links img {
    width: 2rem;
    height: 2rem;
    margin: .5rem;
}

.contact a {
    color: black;
}

.contact a:hover {
    color:rgb(53, 86, 122);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact .resume {
    flex: 1;
    background-color:rgb(131, 224, 212);
    border-radius: 5em 0;
    text-align: center;
    padding: .5rem;
    line-height: 8rem;
    margin: 1rem 0;
}

.concept img{
    width: 100%;
}

.picture-display {
    width: 100%;

}

.picture-display .img-thumbnail{
    border:none;
}

.picture-display img{
    display: block;
    margin: auto;
}

#RPortfolio {
    background-color: #000;
    padding: 4rem;
    border-radius: 10px;
}

#RPortfolio img {
    height: 70vh;
    object-fit:contain;
}


footer {
    width: 100%;
    background-color: #eee;
    text-align: center;
    

}

footer img {
    align-items: center;
    height: 2rem;
    width: 2rem;
    object-fit: scale-down;
    margin: .5rem .5rem 2rem .5rem;
}

  @media only screen and (min-width: 992px) {
    .abs-center-x {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .abs-center-x a {
        padding: 1rem 1rem 0 1rem;
    }

    .abs-center-x a:hover {
        border-bottom: 1px solid black;
    }

    .video-container {         
        position: relative;
        width: 50%;
        padding-bottom: 28.125%;
        flex: 1;
        margin: 1rem auto;
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    
    }

    .info {
        margin: 2rem;
        padding: 1rem;
        background-color: #eee;
        border-radius: 10px;
        

    }
    
    .info a {
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .info a:hover {
        color:rgb(53, 86, 122)
    }
    
    .info-position {
        display: flex;
        flex-flow: nowrap;
    }
    .info-position picture {
        display: block;
        margin: 1rem;
        width: 90%;
        flex: 1;
    }

    .info-position p {
        flex: 1;
        margin: 4rem 1rem;
    }


    .aboutr {
        display: flex;
    }
    .aboutr .portrait {
        width: 20rem;
        height: 20rem;
    }
    .aboutr .imgcontainer {
        margin: 3rem;
        flex: 1;
    }
    .aboutr .aboutblurb {
        flex: 2;

        margin: 4rem 2rem 2rem 1rem;
    }

    .contact {
        width: 60%;
    }

    .contact .links img {
        width: 4rem;
        height: 4rem;
        margin: 2rem 1rem;
    }

    .contact .email, .contact .resume {
        margin: 0;
    }

    .concept {
        width: 80%;
        margin: 1rem auto;
    }

    .picture-display .img-thumbnail {
        height: 9rem;
        width: 9rem;
        object-fit: cover;
        margin-top: 1rem;

    }

    footer img {
        align-items: center;
        height: 3rem;
        width: 3rem;
        object-fit: scale-down;
        margin: 1rem 3rem;
    }

  }